<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HKExWebScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HKExWebScraper.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>https://www.hkex.com.hk/market-data/statistics/derivatives-market/market-share-data-on-hsi-futures?sc_lang=en</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>C:\temp\HsiFutOI.csv</value>
            </setting>
        </HKExWebScraper.Properties.Settings>
    </applicationSettings>
</configuration>