<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HKExWebScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HKExWebScraper.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>https://www.hkex.com.hk/market-data/statistics/derivatives-market/market-share-data-on-hsi-futures?sc_lang=en</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>C:\Development\home\VisualStudio\HKExWebScraper\HKExWebScraper\HKExWebScraper\bin\Debug\HsiFutOI.csv</value>
            </setting>
        </HKExWebScraper.Properties.Settings>
    </applicationSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value=".\Logs\%date{yyyyMMdd_HHmmss}.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%-5level %message%newline" />-->
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>